<!DOCTYPE html>
<html class="<%= typeof className != 'undefined' ? className : '' %>" lang="<%= sails.hooks.i18n.getLocale() %>" dir="<%= sails.hooks.i18n.getLocale() == 'ur' ? 'rtl' : 'ltr' %>">
<head>
    <title><%= typeof title != 'undefined' ? (title + ' | ') : '' %> MrMahir</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--FAVICON-->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap-4.css">
    <link rel="stylesheet" href="/dependencies/noty-314/noty.min.css">
    <link rel="stylesheet" href="/dependencies/fontawesome.css">
    <link rel="stylesheet" href="/styles/importer.css">
</head>

<body class="<%= typeof className != 'undefined' ? className : '' %>">


<%- body %>


<!--SCRIPTS-->
<script src="/dependencies/jquery.min.js"></script>
<script src="/dependencies/noty-314/noty.min.js"></script>
<script src="/dependencies/bootstrap-4/bootstrap-4.bundle.js"></script>
<script src="/js/pages/login.js"></script>
</body>
</html>
